<html>
<head>
  <title>VERIFIED HASHTAG SEARCH !</title>
</head>
<body>

<h1>SEARCH FOR HASHTAGS POSTED BY VERIFIED ACCOUNTS ON THE MAP!</h1>
</br>
</br>

<a href="http://localhost:4567/search">SEARCH</a>


</form>
</body>
</html>