<form action="/input_search" method="POST">
  <input type="text" name="search" placeholder="Search User"> 
   <input type="submit" value="Submit">
  </form>


 <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqFGFM7vfBp12FrK2SJtb4TWFaT4onGLo&callback=initMap">
    </script>
